<h1>{{post.dataValues.title}}</h1>

{{#if error}}
  <p>{{error}}</p>
{{/if}}

<div class="post">
  <p>{{post.dataValues.content}}</p>
  <p class="post-meta">Author:
    {{post.user.dataValues.username}}
    | Created at:
    {{formatDate post.dataValues.createdAt}}</p>
</div>

<h2>Comments</h2>
{{#if post.comments.length}}
  <ul>
    {{#each post.comments}}
      <li class="comment">
        <p>{{dataValues.content}}</p>
        <p class="comment-meta">Author:
          {{user.dataValues.username}}
          | Created at:
          {{formatDate dataValues.createdAt}}</p>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No comments yet.</p>
{{/if}}

{{#if loggedIn}}
  <h3>Add a Comment</h3>
  <form action="/posts/{{post.dataValues.id}}/comments" method="POST">
    <div>
      <label for="content">Comment:</label>
      <textarea id="content" name="content" required></textarea>
    </div>
    <button type="submit">Submit</button>
  </form>
{{else}}
  <p>Please <a href="/login">log in</a> to leave a comment.</p>
{{/if}}